body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

button{
  padding:10px 18px;
  border:none;
  border-radius:20px;
  cursor:pointer;
}

.modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:none;
  justify-content:center;
  align-items:center;
}

.content{
  background:#020617;
  color:white;
  padding:30px;
  border-radius:12px;
  text-align:center;
}
